<!DOCTYPE html>
<style>
  body {
  margin: 0;
  padding: 0;
}

.logo {
  height: 100px;
  width: 250px;
}
/* ~~ Top Navigation Bar ~~ */

.navigation-container {
  width: 1200px;
  margin: 5px auto;
  height: 100px;
}

.navigation-bar {
  height: 100px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
float:left;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: left;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  background-color: #F0E68C;
  list-style-type: none;
  padding: -10px -10px;
  display: inline;
}

.navigation-bar li a {
  color: black;
  text-align: center;
  font-size: 26px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 100px;
  padding: 20px 80px;
  
}

.menu {
  float: left;
}
</style>
<body>

  <div class="navigation-bar">


    <div id="navigation-container">

      <img class="logo" src="https://images.unsplash.com/photo-1682687982298-c7514a167088?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="My_Logo">

      <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="/solid">SOLID</a></li>
        <li><a href="/water">WATER</a></li>
        <li><a href="/energy">ENERGY</a></li>
      </ul>
    </div>

</body>

</html>